/*color gradient button picker*/
input.mark-cmyk-color[type=button] {
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    background-color: blue;
    border:2px solid white;
    cursor: pointer;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input.mark-cmyk-color[type=button]:hover{
    -o-filter: brightness(0.9);
    -moz-filter: brightness(0.9);
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
}

input.mark-cmyk-color[type=button]:focus{
    -o-filter: brightness(0.7);
    -moz-filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}
