:root{
    /*this affect center nav and both hue and transparent adjuster*/
    --output-height : 170px;
    /*all the adjuster width and height based on this*/
    --adjuster-width : 23px;
    --adjuster-thumb-height : 4px;
    /*border radius for adjusrer's background since we can't 
        set overflow to hidden cause of adjuster's thumb*/
    --adjuster-border-radius: 6px;
    /*set padding and gap from container*/
    --gap:.5em;
}

/*mark-hsl-color-picker was started creating in 06-11-2022*/
* {
    margin: 0px;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
        user-select: none;
    box-sizing: border-box;
}

input.focus{
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.col{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
#mark-cmyk-color-picker{
    display: none;
}

/*NOTE YOU NEED TO REMOVE PADDING HERE*/
.panel{
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: max-content;
    padding: 0px !important;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    gap:0 !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border:1px solid rgb(170, 170, 170);
    overflow: hidden;
}

/*this holds the padding of bottom, and center nav*/
.panel > .container {
    width: 100%;
    height: max-content;
    align-items: center;
    gap:var(--gap);
    padding: var(--gap);
    background-color: white;
}

/*top nav*/
.panel > .top-nav{
    position: relative;
    width: 100%;
    min-height: 2em;
    align-items: center;
    justify-content: space-between;
    gap:.3em;
    background-color: red;
    padding-left: .3em;
    padding-right: .3em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/*for default background*/
.panel > .top-nav > .def-bg{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
    /*to avoid from being overlap*/
    border-top-left-radius:inherit;
    border-top-right-radius:inherit;
}

.panel > .top-nav > .output-text{
    width: 100%;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: default;
    margin-left: auto;
    margin-right: auto;
}

/*if input is on edit mode*/
.panel > .top-nav > .output-text:read-write{
    border-radius: 3px;
    box-shadow: rgb(204, 219, 232) 1px 1px 2px 0px inset, rgba(255, 255, 255, 0.5) -1px -1px 2px 1px inset;
    cursor:auto !important;
}

/*set to relative*/
.panel > .top-nav > .copy{
    position: relative;
}
.panel > .top-nav > .copy > .popup{
    display: none;
    position: absolute;
    /*.3em is based on .top-nav padding*/
    left:calc(100% + .3em);
    top:calc(100% + .5em);
    transform: translate(-100%,0);
    font-size: 0.7em;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    color: black;
    z-index: 99;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border:1px solid rgb(223, 223, 223);
}

.panel > .top-nav .icon{
    width: 18px;
}
.panel > .top-nav .icon:hover {
    filter: contrast(0.3);
}
/*set color and icon to white*/
.panel > .top-nav[data-color=white] .icon{
    filter: invert();
}
.panel > .top-nav[data-color=white] .icon:hover{
    filter: invert() brightness(0.8);
}
.panel > .top-nav[data-color=white] > .output-text{
    color:white;
}

/*CENTER nav*/
.panel > .container > .center-nav{
    width: 100%;
    height: max-content;
    align-items: flex-start;
    gap: var(--gap);
}
.panel > .container > .center-nav > .output{
    position: relative;
    width: 100%;
    height: var(--output-height);
    background-color: red;
    border:1px solid rgb(224, 224, 224);
}
.panel > .container > .center-nav > .output > .color-name{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.panel > .container > .center-nav > .hue-adjuster,
.panel > .container > .center-nav > .transparent-adjuster{
    width: var(--adjuster-width);
    height: var(--output-height);
    flex-shrink: 0;
    background-color: whitesmoke;
}
/*for hue-rotate's background && transparent-rotate's background*/
.panel > .container > .center-nav > .hue-adjuster .bg,
.panel > .container > .center-nav > .transparent-adjuster .bg,
.panel > .container > .center-nav > .transparent-adjuster .color-gradient{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: var(--adjuster-border-radius);
}

/*for color transparency background*/
.panel > .container > .center-nav > .transparent-adjuster .color-gradient{
    background-image: linear-gradient(red, transparent);
}

/*set all the ADJUSTER*/
.panel > .container [data-type=adjuster]{
    position: relative;
    border-radius: var(--adjuster-border-radius);
    border:1px solid rgb(190, 190, 190);
    padding: 0 !important;
}
.panel > .container [data-type=adjuster][data-focus]{
    border:1px solid black;
}
/*fix horizontal alignment*/
.panel > .container [data-type=adjuster][data-angle=horizontal]{
    width: 100%;
    /*shrink a little*/
    height: calc(var(--adjuster-width) * .8);
    background-color: whitesmoke;
    flex-shrink: 0;
}
/*set adjuster thumb for both vertical and horizontal*/
.panel > .container [data-type=adjuster][data-angle=horizontal] > .thumb{
    position: absolute;
    left:0px;
    top:50%;
    /*set top to center*/
    transform: translate(0,-50%);
    height: 120%;
    width: var(--adjuster-thumb-height);
    border:1px solid black;
    background-color: rgba(0, 0, 0, 0.233);
    box-shadow: 1pt 1pt 1pt 0pt rgba(255, 255, 255, 0.637);
    border-radius: 4px;
}
.panel > .container [data-type=adjuster][data-angle=vertical] > .thumb{
    position: absolute;
    left:50%;
    top:0px;
    /*set top to center*/
    transform: translate(-50%,0%);
    height: var(--adjuster-thumb-height);
    width: 120%;
    border:1px solid black;
    background-color: rgba(0, 0, 0, 0.233);
    box-shadow: 1pt 1pt 1pt 0pt rgba(255, 255, 255, 0.637);
    border-radius: 4px;
}

.panel > .container > .bottom-nav{
    width: 100%;
    height: max-content;
    align-items: flex-start;
    gap: var(--gap);
}
/*for bottom's color gradient*/
.panel > .container > .bottom-nav .color-gradient{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: var(--adjuster-border-radius);
}

/*set CMYK background here*/
/*https://www.w3schools.com/colors/colors_cmyk.asp*/
/*https://www.google.com/search?q=cmyk+stands+for&rlz=1C1GCEU_enPH1033PH1033&oq=cmyk+stand&aqs=chrome.0.0i20i263i512j69i57j0i512l6j0i390l2.3351j0j7&sourceid=chrome&ie=UTF-8*/
.panel > .container > .bottom-nav > .cyan-adjuster > .color-gradient{
    background-image: linear-gradient(90deg, white, cyan);
}
.panel > .container > .bottom-nav > .magenta-adjuster > .color-gradient{
    background-image: linear-gradient(90deg, white, magenta);
}
.panel > .container > .bottom-nav > .yellow-adjuster > .color-gradient{
    background-image: linear-gradient(90deg, white, yellow);
}
.panel > .container > .bottom-nav > .key-adjuster > .color-gradient{
    background-image: linear-gradient(90deg, white, black);
}

/*for OUTPUT*/
.panel > .container > .center-nav > .output{
    position: relative;
    border-radius: 5px;
    border-radius: 1px solid red;
}

/*FOR THEME*/
/*DARK THEME*/
[data-theme=dark] > .panel{
    background-color: rgb(61, 61, 61) !important;
}
[data-theme=dark] > .panel > .container{
    background-color: rgb(61, 61, 61) !important;
}

/*set adjuster and output color border*/
[data-theme=dark] > .panel > .container > .center-nav > .output,
[data-theme=dark] > .panel > .container [data-type=adjuster]{
    border: 1px solid rgb(31, 31, 31) !important;
}
/*for adjuster focus*/
[data-theme=dark] > .panel > .container [data-type=adjuster][data-focus]{
    border: 1px solid whitesmoke !important;
}