/*
    CMYK THEMES
*/
/*for background color*/
/*CORAL THEME*/
body.mark-cmyk-color-picker[data-theme=coral] .panel,
body.mark-cmyk-color-picker[data-theme=coral] .panel > .container{
    background-color: rgb(244, 120, 103) !important;
}
/*set adjuster and output color border*/
body.mark-cmyk-color-picker[data-theme=coral] > .panel > .container > .center-nav > .output,
body.mark-cmyk-color-picker[data-theme=coral] > .panel > .container [data-type=adjuster]{
    border: 1px solid black !important;
}
body.mark-cmyk-color-picker[data-theme=coral] > .panel > .container [data-type=adjuster][data-focus]{
    border: 2px solid black !important;
}

/*FOREST THEME*/
body.mark-cmyk-color-picker[data-theme=forest] .panel,
body.mark-cmyk-color-picker[data-theme=forest] .panel > .container{
    background-color: rgb(51, 94, 45) !important;
}
/*set adjuster and output color border*/
body.mark-cmyk-color-picker[data-theme=forest] > .panel > .container > .center-nav > .output,
body.mark-cmyk-color-picker[data-theme=forest] > .panel > .container [data-type=adjuster]{
    border: 1px solid white !important;
}
body.mark-cmyk-color-picker[data-theme=forest] > .panel > .container [data-type=adjuster][data-focus]{
    border: 2px solid white !important;
}
/*override thumb*/
body.mark-cmyk-color-picker[data-theme=forest] > .panel > .container [data-type=adjuster] > .thumb{
    background-color: transparent !important;

}
body.mark-cmyk-color-picker[data-theme=forest] > .panel > .container [data-type=adjuster][data-focus] > .thumb{
    border: 1px solid black !important;
    box-shadow: 1pt 1pt 1pt 1pt rgba(81, 81, 81, 0.637);
}

/*FOREST THEME*/
body.mark-cmyk-color-picker[data-theme=beige] .panel,
body.mark-cmyk-color-picker[data-theme=beige] .panel > .container{
    background-color: rgb(209, 185, 149) !important;
}
/*override top bar*/
body.mark-cmyk-color-picker[data-theme=beige] > .panel > .top-nav{
    border-bottom:  3px solid rgb(157, 120, 84) !important;
}
/*set adjuster and output color border*/
body.mark-cmyk-color-picker[data-theme=beige] > .panel > .container > .center-nav > .output,
body.mark-cmyk-color-picker[data-theme=beige] > .panel > .container [data-type=adjuster]{
    border: 1px solid rgb(255, 128, 0) !important;
}
body.mark-cmyk-color-picker[data-theme=beige] > .panel > .container [data-type=adjuster][data-focus]{
    border: 2px solid black !important;
}
